<% content_for :content_header do %>
  <div class="landing1">
    <%= image_tag "landingtop.jpg" %>
    <div class="message-landing1">
    <p class="message">あなたの好きなレストランをプレゼントしよう</p>
    <br/>
    <%= button_to 'ギフトを選ぶ', items_path, method: :get, :class => "btn btn-info message" %>
    </div>
  </div>
  
<% end %>

