<div class="item-search">
  <%= image_tag "searchback.jpg" %>
  <div class="message-box">
  <h1 class="header-search-text message">お気に入りのレストランを探す</h1>
  <br/><br/>
  <div class="message">
  <%= render "layouts/search_pertial"%>
  </div>
  </div>
</div>