<% content_for :content_header do %>
 <%= render "item_summary"%>
<% end %>


<!-- gift form -->
<div class="gift-form">
<%= render "booking_form"%>
</div>

<br>

<!-- commnet -->
<!--<%= render "comment_form"%>-->
