@import "bootstrap-sprockets";
@import "bootstrap";

.header-top{
  background-color: #FFFFFF;

  .logo {
    width: auto;
    height: 50px;
}
  
}

.container{
  padding: 0px;
}

.container-main .margin-tmp{ 
  margin :15px;
}

.padding-content .padding-tmp{
  padding: 15px;
}

.padding-items{
  padding: 0px;
  margin: 0px;
}

.item-table{
  width: 100%;
  & .item{
    height: 100px;
    width: auto;
    & .btn{
      margin: 10%;
      width: 100%;
      font-size: small;
    }
  }
  
}

.item-table-image-field{
  width: 300px;
  height: auto;
}

p{
  word-break: break-all;
}

.thumnail-item {
  width: 150px;
  height: 150px;
  object-fit: cover; 
}

.pattern5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  overflow: hidden;
  border: 1px solid red;
}


.main {
  background-color: #EEEEEE;
}

.summary{
  background-color: #696969;
  overflow: hidden;
}

p{
  margin: 0px;
}

img.booking_item_img{
  width:400px;
  height:300px;
  object-fit: cover;
}

.color-item-summary{
  background-color: #1f1f1f;
}


.position-item-summary{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.position-image{
  margin: 3% auto 3%;
}


.summary{
  h2{
  color: #FFFFFF;
  }
  p{
    color: #C0C0C0;
  }
}

.gift-form {
  .position-booking{
    padding: 0 8% 0;
  }
  #booking_message{
    height: 125px;
  }
}

.position-item-create{
    padding: 0 8% 0;
  textarea{
    height: 150px;
  }
  
}

.position-button{
  float: right;
}

.bg-white{
 background:#ffffff !important;
}

.item-search{
  margin: 0;
  padding: 0;
  img.background {
    position: relative;
    width: 100%;
  }
  .message-box{
    position: absolute;
    top: 40%;
    left: 50%;
    .message{
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      color: white;
      font-size: 200%;
    }
    img.message{
      height: 100%;
    }
  }
}

img.background{
  width: 100%;
}

.background, .item-search{
  position: relative;
  & img{
    width: 100%;
  }
  & .message{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align:center; 
    width: 100%;
    color: white;
    font-size: 200%;
  }
  & form{
    display: inline-block;
  }
  & .search-form{
      width: 80%;      
  }
}

.padding-form {
    padding: 2% 8% 2%;
}

.landing_process, .landing_function {
  padding: 2% 8% 2%;
  text-align:center; 
  div.row{
    text-align:center; 
    img {
      width: 50%;
    }
  }
}

.landing_link{
  padding: 8%;
  background-color: #FFFFFF;
  text-align:center; 

  h1, form{
    display: inline-block;
  }  
}

.landing_persona{
    padding: 2% 5% 2%;
    img{
      height: 300px;
    }
}

.landing_merit{
  padding: 2%;
  text-align: center;
  ul{
    list-style:none;
  }
  p{
    padding: 30px;
/*    display: inline-block; */
  }
  img{
    height: 60px;
    padding: 0px 10px 0px;
  }
  .landing_merit_owner{
    display: none;
  }
}

.tmp-notification{
  background-color: #FFCC00;
  overflow: hidden;
  margin: 0;
}

.question-form{
    padding: 2%;
  text-align: center;

  background-color: #EEEEEE;
}


.sample{
  background-color:#EEEEEE;
  & img{
     height: 350px;
  }
  
}

.show-booking{
  padding: 2% 8% 2%;
  text-align: center;
  & img{
    padding: 5%;
  }
  & ul{
    list-style:none;
  }
  & .sample-booking{
    width: 100%;
  }
}