<p class="tmp-notification">
<strong>プロトタイプバージョン</strong>です。
先輩にタダ飯を奢ってもらいたい方、ちょっと特別なプレゼントを贈りたい方、こだわりをもった飲食店の店主さん、お店のファンの自由な活動を支援したい店主さん、このサービス実現に向けて応援してくれませんか？
サービスに興味のある方、参加したい方、質問のある方、プロジェクトの運営に参加したい方、ぜひ<%= link_to "こちらへご連絡ください", question_new_path%>。
</p>
